<%- include("partials/header.ejs"); %>


<h1> <%= robot.name %> </h1>
<div class="d-flex flex-row">
    <img src="<%= robot.image %>">
    <p class="my-auto mx-3">  <%= robot.description %> </p>
</div>
<div>
    <p>Submitted by: <%= robot.author.username %> </p>
    <a href="/robots/<%=robot._id%>/edit" class="btn btn-warning text-right">Edit info</a>

    <form class="deleteForm" action="/robots/<%=robot._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger text-right">Delete</button>
    </form>
   
</div>
<% robot.comments.forEach(function(comment){ %>
    <div class="d-flex flex-row comment">
        <div class="comment-photo">
            <img src="https://duncanlock.net/images/posts/better-figures-images-plugin-for-pelican/dummy-200x200.png" alt="">
        </div>
        <div class="comment-text">
            <div class="comment-inner">
                <p class="comment-author"><%= comment.author.username %></p>
                <p><%= comment.text %></p>
            </div>
        </div>        
    </div>
    <p><%= comment.created %></p>
<% }) %> 

<form action="/robots/<%= robot._id %>" method="POST">
    <div class="form-group">
        <textarea  class="form-control" name = "comment[text]" placeholder="Leave a comment"></textarea>
    </div>
    <div class="d-flex flex-row-reverse">
        <button type="submit" class="btn btn-primary">Comment</button>
    </div>
    
</form>
<%- include("partials/footer.ejs"); %>
